<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ParkingLot</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body style="text-align:center;font-family:Verdana">
<!--Default page -->
    <h1>Parking Lot</h1>
    <hr/>
    <a th:href="@{/admin/enroll}" class="btn btn-primary" style="margin-right:32px"> <h4> Admin </h4> </a>
    <a th:href="@{/parking_lot_features}" class="btn btn-primary" style="margin-right:32px"> <h4> Customer </h4> </a>
</body>
</html>