<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parking Lot admin pages</title>
</head>
<body>
<h2>This page is to build parking lot</h2>
<ol>
    <li>
        Get Parking Owner's details such as name and his address, parking lot's address
    </li>
    <li> show all vehicleTypes in checkboxes with select all option. variable:$availableVehicleTypes type:unique Array
        <ol>  <li> CAR </li>
            <li> SCOOTER </li>
            <li>VAN</li>
        </ol>
    </li>
    <li>
     Let's say user has selected 2 vehicleTyeps CAR and VAN. Provide 2 input boxes which takes number of vehicleTypeSlotLayoutMap for each type of vehicle
    </li>
    <li>
        Fare details: Provide 2 input boxes for each selected vehicle type to take prices for firstOneHour and nextEachHour parking.
    </li>
</ol>
submit all the details with "/admin/onboard"
</body>
</html>