<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parking form</title>

</head>
<body>

<h3>Parking form </h3>
<hr/>

Take the following data for multiple vehicles that requires parking.
<ol>
    <li>
        Vehicle id
    </li>
    <li>
    <li> show supported vehicleTypes either in radio button or dropdown. variable:$availableVehicleTypes type:unique Array
        <ol>  <li> CAR </li>
            <li> SCOOTER </li>
            <li>VAN</li>
        </ol>
    </li>
    </li>
</ol>

Submit the form with "/parking-lot/{id}/allot" method:POST
</body>
</html>